<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="employee" class="SpringCore.SpringBeanAutowiring.Constructor.EmployeeBean" autowire="constructor">
        <property name="fullName" value="Hahahha"/>
    </bean>
    <bean id="dep111111111art" class="SpringCore.SpringBeanAutowiring.DepartmentBean">
        <property name="name" value="finance"/>
    </bean>
</beans>